version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  reviewers:
  - jeandet
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
