name: Python packages OSX

on:
  release:
    types: [published]
  push:

jobs:
  build:
    runs-on: macos-10.15
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Build python wheel
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: add qt dir to path
        run: |
            echo "$GITHUB_WORKSPACE/Qt/6.5.0/macos/bin" >> $GITHUB_PATH
      - run: |
          brew install rename
          pip install --upgrade "meson" "ninja" "numpy" "meson-python" "build" "wheel" "twine" "aqtinstall"
          pip install "PySide6==6.5.0"
          pip install \
              --index-url=http://download.qt.io/official_releases/QtForPython/ \
              --trusted-host download.qt.io "shiboken6_generator==6.5.0"
          aqt install-qt -O $GITHUB_WORKSPACE/Qt mac desktop 6.5.0
          python3 -m build --no-isolation .
          rename 's/macosx_10_15_[0-9]_x86_64/macosx_10_15_x86_64/g' dist/*.whl
      - name: Save packages as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: sciqlopplots-MacOs-${{ matrix.python-version }}
          path: dist/*
      - name: Publish on PyPi
        if: github.event.release
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: twine upload --skip-existing dist/*
      - name: Publish on PyPi (test)
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_PASSWORD }}
        run: twine upload --repository testpypi --skip-existing dist/*.whl
